/* All css style excluding admins side */
.dropdown-toggle::after{
    display: none;
}
/* Navbar part Begins*/ 
.header-left img{
    height: 50px;
}

.userAvatar{
    height: 40px;
    border-radius: 50%;
}

.header-left{
    margin-top: -85px;
    margin-bottom: -90px;
    cursor: pointer;
}

.nav-item .nav-link{
    margin: 5px;
    color: black;
    font-weight: bold;
}

.nav-item .navLink:hover{
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    background-color: rgb(97, 147, 212);
    box-shadow: 3px 4px 8px rgba(0, 76, 252, 1);
}

.logout{
    margin-left: 18%;
    align-items: center;
}
/* Navbar Ends */







/* Home Page Begins*/
.main{
    margin-top: 5.5rem;
}

.carousel-item img{
    height: 500px;
    object-fit: cover;
}


.cards{
    gap: 10px;
}

.cards .card{
    width: 19rem;
    /* margin: 0.5rem; */
    /* padding: 1px; */
}

.cards .card img{
    height: 20rem;
    width: auto;
    object-fit: cover;
}

/* Home Page Ends*/

/*---------------------
   CONTACT GRID BEGIN
----------------------*/
.contact-container{
	background: url(img/1.jpg) no-repeat center center #ffffff;
	display: grid;
	grid-template-columns: auto auto auto;
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
	background-color: #f2f3f5;
	padding: 40px 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.contact-container h3{
	text-align: center;
	font-size: 25px;
}

.contact-container p{
	text-align: center;
	font-size: 15px;
}

.contact-container .forms{
	margin-bottom: 30px;
	border: 1px solid white;
	box-sizing: border-box;
	font-size: 16px;
	outline: 0 none;
	padding: 10px 25px;
	height: 55px;
	resize: none;
	width: 100%;
	border-radius: 10px;
	box-shadow: 5px 8px 20px rgba(46, 60, 74, 0.76);
}

.contact-container textarea {
	padding: 20px 25px !important;
	height: 310px !important;
	width: 100%;
	padding-left: 30px;
	font-size: 18px;
	margin-left: 20px;
	box-sizing: border-box;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 5px 8px 20px rgba(46, 60, 74, 0.76);
}


.item1{
	grid-column: 1 / span4;


}

.item2{
	grid-column-start: 1;
	grid-column-end: 3;

}

.item3{
	grid-column: 3 / span4;

}

.item4{
	grid-column: 1 / span4;
	text-align: center;
	padding: 15px;
}

button{
	background-color: gray;
	padding: 10px;
	border: 1px solid black;
	border-radius: 9px;
	cursor: pointer;
}

button:hover{
	background-color: brown;
	color: white;
	box-shadow: 5px 8px 20px rgba(46, 60, 74, 0.76);

}

/*-----------------------------
	    Contact Ends
------------------------------*/







/* Footer part begins*/
.footer-left, .footer-middle-left, .footer-middle-right, .footer-right{
    padding: 2rem;
}

.footer-left svg{
    margin-top: -4rem;
    margin-bottom: -3.5rem;
}

.footer-middle-left, .footer-middle-right{
    margin: 4rem 0 4rem 0;
    font-weight: 500;
}

.footer-middle-left a, .footer-middle-right a{
    color: darkgray;
    text-decoration: none;
}

.footer-middle-left a:hover, .footer-middle-right a:hover{
    color: white;
    text-decoration: underline;
}

.footer-right h5{
    color: gray;
}

.footer-right p{
    text-align: center;
    color: black;
    background-color: silver;
    margin: 1px 110px 6px 0px;
    border-radius: 3px;
    cursor: pointer;
}

.footer-right p:hover{
    color: white;
}
/* Footer Ends */