body{
    background-color: lightgray;
}

.loginContainer{
    background-color: white;
    width: 30%;
    margin-top: 6%;
    box-shadow: 2px 2px 2px gray;
    border-radius: 8px;
    padding: 10px;
}

.logoImage{
    width: 100%;
    background-color: #d9d9d9;
    cursor: pointer;
}

.logoImage img{
    height: 95px;
    margin-left: 34%;
}

.logo{
    border-bottom: 1px solid gray;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    
}

.login_heading p{
    text-align: center;
    margin-top: 15px;
}

.row button{
    width: 100%;
    margin-top: 15px;
    padding: 2px;
}

.resetPassword a{
    text-decoration: none;
    cursor: pointer;    
    margin: 25%;
}

.resetPassword a:hover{
    text-decoration: underline;
}

.passwordRow{
    cursor: pointer;
}

.registerUser{
    display: flex;
    margin: 18%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.registerUser a{
    text-decoration: none;
}

.registerUser a:hover{
    text-decoration: underline;
}

.input-group-append span{
    padding: 10px;
    margin-left: -40px;
    background: transparent;
    border: none;
}

.col-md-12 label{
    margin-bottom: 0;
}